body {
  font-family: "Mate SC", serif;
  text-align: center;
  background-color: #9328da;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

.header{
    display:flex;
    justify-content:center;
}

h1, h2{
    font-family: cursive;
    text-decoration: underline; 
    text-decoration-thickness: 0.0em;  
    margin: 5px; 
}

div{
    font-family: cursive;
    display: block;
}

#price, #definition{
    font-family: cursive;
    text-decoration: underline; 
    text-decoration-thickness: 0.0em; 
    display: block;
}

.bread {
  height: 15%; 
  margin: 5px auto; 
  border-radius: 6px;
}

.upperBread,
.lowerBread {
  margin: 2px;
  border-style: outset;
  width: 160px;
  border-color: black;
  border-width: 0.1em;
  background-color: rgb(214, 149, 52);
}

.upperBread {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 60px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}

.lowerBread {
  padding: 14px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}


.bread,
#additionalMeat,
#additionalCheese,
#additionalTomato,
#additionalLettuce {
  display: flex;
  justify-content: center;
}


#meatContainer,
#cheeseContainer,
#tomatoContainer,
#lettuceContainer {
  font-family: "Mate SC", serif;
  /*  text-align: center; */
}

.meat {
  background-color: rgb(110, 47, 47);
  width: 170px;
  height: 8%; /* % - % מהדף */
  margin: 5px auto; /* רווח 5 px */

  border-radius: 7px;
  padding-top: 9px; 
  padding-bottom: 9px; 
}

#divCheese {
  background-color: yellow;
  padding-top: 2px;
  padding-bottom: 1px;
}

#divTomato {
  background-color: tomato;
  padding-top: 2px;
  padding-bottom: 1px;
  width: 170px; 
  height: 3%; 
  margin: 5px auto; 
  border-radius: 6px;
}

#divLettuce {
  background-color: yellowgreen;
  padding-top: 2px;
  padding-bottom: 1px;
  margin: 5px auto;
  border-radius: 6px;
}

.meat,
.cheese,
.tomato,
.lettuce {
  width: 170px; 
  height: 2%; 
  margin: 5px auto;

  border-style: outset;
  border-color: black;
  border-width: 0.1em;
  border-radius: 6px;
  display: block;
}

/* Menu */
.plusMinus {
  background-color: #7b3eb3;
  width: 205px;
  height: 20%;
  margin: 5px auto;

  border-style: outset;
  border-color: black;
  border-width: 0.1em;
  border-radius: 3px;

  display: flex; 
  justify-content: center; 
  position: relative;
}

.plus,
.minus {
  width: 20%;
  margin: 5px auto;
  border-width: 0.1em;
  border-style: outset;
  border-color: rgb(140, 7, 202);
  padding: 1px;
  background: rgb(112, 129, 210);
  background: radial-gradient(
    circle,
    rgba(112, 129, 210, 1) 4%,
    rgba(195, 119, 231, 1) 91%
  );
}

.container {
  width: 28%;
  margin: 5px; /* רווח 5 px */
  border-width: 0.1em;
  border-style: outset;
  border-color: rgb(140, 7, 202);
  padding: 1px;
  background: rgb(112, 129, 210);
  background: radial-gradient(
    circle,
    rgba(112, 129, 210, 1) 4%,
    rgba(195, 119, 231, 1) 91%
  );
}

.menu-btn {
  display: block;
  left: 50%;
  margin: 1em;
  position: absolute;
  top: 50%;
  width: 36px;
  transform: translate(-50%, -50%);
}

/*  price appearance */
.plusMinus .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  /* top: -5px; */
  left: 102%;
}

.plusMinus:hover .tooltipText { 
  visibility: visible;
}

marquee{
  color: white;
}

input{
  background-color: rgb(194, 52, 130);
  width: 90px;
  height: 30px;
  margin: 15px auto;
  padding: auto;
  border-radius: 15px;
  background: linear-gradient( rgba(112, 129, 210, 1) 4%, rgb(202, 7, 176) 91% )
}



